.introducao {
  max-width: 1200px;
  padding: 0px 20px 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  margin: 30px;
  position: relative;
}
.introducao p {
  margin: 30px;
}
.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../assets/icones/deco.svg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: -1;
}
@media (max-width: 1000px) {
  .introducao img {
    min-width: 210px;
  }
  .introducao {
    padding: 40px 20px;
  }
  .introducao h1 {
    font-size: 3rem;
    line-height: 44px;
  }
  .introducao h1::before {
    width: 80px;
    height: 60px;
    left: -28px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 40px;
    height: 30px;
    top: 2px;
    left: -10px;
  }
}
@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
}
